<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gwk.movesense">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyCPSsaUh5B4ejQTT-NMa5grAL_OUGZ_slw" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPSsaUh5B4ejQTT-NMa5grAL_OUGZ_slw" />
    </application>

</manifest>
